<p id="notice"><%= notice %></p>

<h1 class="m-b-2">Videos In System</h1>

<table>
  <thead>
    <tr>
      <th>Youtube ID</th>
      <!-- <th>Views</th>
      <th>Channel Subscribers</th> -->
      <th>Title</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= link_to video.youtube_id, video, class: "m-r-1" %></td>
        <!-- <td><%= video.views %></td>
        <td><%= video.channel_subscribers %></td> -->
        <td><%= video.title %></td>
        <!-- <td><%= link_to 'Edit', edit_video_path(video) %></td> -->
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger m-b-1 m-l-1" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add A Video', new_video_path, class: "btn btn-primary" %>
