%h1 Reports

= button_to "Generate New Report", reports_path, method: :post, class: "btn btn-success m-y-1"

%table.table
  %thead
    %tr
      %th Report Number
      %th Created At
      %th View Report
      %th Download
      %th Rows
      %th Delete Report
  %tbody
    - @reports.each do |report|
      %tr
        %td= report.id
        %td= report.created_at.localtime.to_formatted_s(:long)
        %td= link_to "View", report
        %td= link_to "Download Report", "#"
        %td= report.stats.count
        %td= button_to "Delete Report", report_path(report), method: :delete, class: "btn btn-sm btn-danger", :data => { :confirm => 'Are you like really really sure?' }

%hr.m-t-3

%h2.m-t-3 Videos
= link_to "View Current Videos", videos_path, class: "btn btn-primary"
