%h1= "Report ##{@report.id}"
%p= @report.created_at.strftime("%D")
%td.col-sm-4= link_to "Download as CSV", "/reports/#{@report.id}.csv", class: "btn btn-info"


%table.table.m-t-2
  %thead
    %tr
      %th Video Title
      %th Source/Medium
      %th YouTube ID
      %th Channel Subscribers
      %th Views
      %th Cost
      %th New Users
      %th Transactions
      %th Revenue
      %th Goal 4 Completions

  %tbody
    - @report.stats.each do |stat|
      %tr
        %td= link_to stat.video.title, stat.video
        %td= stat.video.ga_source_medium
        %td= stat.video.youtube_id
        %td= number_with_delimiter(stat.channel_subscribers)
        %td= number_with_delimiter(stat.views)
        %td= number_to_currency(stat.video.cost, precision: 0)
        %td= number_with_delimiter(stat.new_users)
        %td= number_with_delimiter(stat.transactions)
        %td= number_to_currency(stat.transaction_revenue, precision: 0)
        %td= number_with_delimiter(stat.goal_4_completions)
