%h1= "Report ##{@report.id}"
%p= @report.created_at.strftime("%D")
%td.col-sm-4= link_to "Download as CSV", "/reports/#{@report.id}.csv", class: "btn btn-info"


%table.table.m-t-2
  %thead
    %tr
      %th Video Title
      %th YouTube ID
      %th Views
      %th Cost
      %th Channel Subscribers
      %th New Users
      %th Transactions
      %th Revenue
      %th Goal 4 Completions

  %tbody
    - @report.stats.each do |stat|
      %tr
        %td= stat.video.title
        %td= stat.video.youtube_id
        %td= stat.views
        %td= number_to_currency(stat.video.cost, precision: 0)
        %td= stat.channel_subscribers
        %td= stat.new_users
        %td= stat.transactions
        %td= number_to_currency(stat.transaction_revenue, precision: 0)
        %td= stat.goal_4_completions
