<!DOCTYPE html>
<html>
  <head>
    <title>Slapafy</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= link_to "Slapafy", root_path, class: "btn btn-lg btn-warning m-t-1 m-l-1" %>

    <div class="container p-t-3">
      <%= yield %>
    </div>


  </body>
</html>
